.blob {
  position: fixed;
  z-index: -1;
  background: conic-gradient(#DECCFF, green, blue);
  width: 40vh;
  height: 30vh;
  border-top-left-radius: 60%;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 30%;
  border-top-right-radius: 70%;
  filter: blur(10px);
  /* Add this line to blur the blob */
  backdrop-filter: blur(50px);
}
