#movableButton {
  width: 12svw;
  height: 12svw;
  border-radius: 50%;
  position: fixed;
  color: var(--light-10);
  border: solid var(--light) 1.5pt;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  transition: left 0.1s, bottom 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 85%;
  bottom: 50%;
  background-color: transparent;
}

#movableButton img {
  height: 60%;
  width: auto;
  max-height: 100%;
}

.popup {
  display: none;
  position: fixed;
  z-index: 10;
  left: 1svw;
  background-color: rgba(255, 255, 255,0.8);
  max-width: 98svw;
  
  overflow-y: auto;
}
.dropInContainer{
  display: flex;
  width: 98svw;
}
.dropInContainer .package{
  margin: auto;
  overflow: auto;
  z-index: 10;
}
.close {
  position: fixed;
  top: -16px;
  right: 10%;
  color: red;
  cursor: pointer;
  background: transparent;
  font-size:50px;
  padding: 0;
  margin: 0;
  z-index: 11;
}
