.skills-container {
  --TempHeight: auto;
  display: flex;
  flex-direction: column;
  width: 98svw;
  height: calc(var(--TempHeight)+10svh);
  margin-top: 10svh;
  margin-bottom: 18svh;
  padding-left: 1svw;
  padding-right: 1svw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.skills-container .heading {
  font-size: 2.8rem;
  text-align: center;
  color: var(--light);
}

.skills-container .skill {
  display: flex;
  padding-left: 3svw;
  padding-right: 3svw;
}

.skill .name {
  font-size: 1.2rem;
  font-family: besake;
  color: var(--light);
  margin-top: auto;
  margin-bottom: auto;
}

.skill .level-container {
  margin: auto;
  width: var(--level-container-width);
  height: var(--level-container-height);
  background: #121212;
}

.level-container .level {
  position: relative;
  width: 1px;
  height: var(--level-container-height);
  border-radius: 5svw;
  background-color: var(--secondary);
}

.skill label {
  margin: auto;
  font-size: 1.3rem;
  font-family: besake;
  font-weight: 200;
  color: var(--light-20);
}