body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: #000;
  font-family: besake;

}
.toggle-btn {
            position: fixed;
            bottom: 80px;
            right: 10px;
            padding: 10px 20px;
            background-color: white;
            color: black;
            z-index: 999;
            border: none;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
            transition: background-color 0.3s, transform 0.3s;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  z-index: -1;
}

header {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40svh;
  background-image: url("/img/earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50vh;
}


.profile-container {
  display: flex;
  flex-direction: column;
  width: 100svw;
  box-sizing: border-box;
}

.profile-pic {
  width: 40svw;
  height: auto;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.profile-details .name {
  font-size: 2rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 600px) {
  .profile-container {
    max-width: 70svw;
  }
}

/* glitch effevt on profile*/
.profile-container.pixelate .profile-pic {
  animation: pixelate 1s steps(10) forwards;
}

@keyframes pixelate {
  0% {
    filter: none;
  }

  50% {
    filter: contrast(0.5) brightness(1.5) saturate(1.5);
    transform: scale(1.05);
  }

  100% {
    filter: contrast(0.5) brightness(1.5) saturate(1.5) blur(3px);
  }
}

.profile-container.glitch .profile-pic {
  animation: color-glitch 1s infinite;
}

@keyframes color-glitch {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}



/* footer css */
.footer {
  background-color: var(--light-10);
  padding: 10px 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* Button style */
