@font-face {
  font-family: besake;
  src: url("/fonts/Newton\ Howard\ Font.ttf");
}

:root {
  --primary: #00C6CF;
  --secondary: #068488;
  --tertiary: #324B4C;
  --dark-10: #121212;
  --dark-20: #141414;
  --dark-30: #353535;
  --light: #ffffff;
  --light-10: rgba(255, 255, 255, 0.8);
  /* Adjusted for even spacing */
  --light-20: rgba(255, 255, 255, 0.6);
  /* Adjusted for even spacing */
  --light-30: rgba(255, 255, 255, 0.4);
  /* New level for even spacing */
  --light-40: rgba(255, 255, 255, 0.2);
  /* New level for even spacing */
  --level-container-width: 60svw;
  --level-container-height: 1svh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--dark-10);
  font-family: besake;

}

header {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 40svh;
  background-image: url("/img/earth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-left-radius: 50vh;
}


.profile-container {
  display: flex;
  flex-direction: column;
  width: 100svw;
  box-sizing: border-box;
}

.profile-pic {
  width: 40svw;
  height: auto;
  border-radius: 50%;
  border: 2px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.profile-details .name {
  font-size: 2rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 600px) {
  .profile-container {
    max-width: 70svw;
  }
}

/* glitch effevt on profile*/
.profile-container.pixelate .profile-pic {
  animation: pixelate 1s steps(10) forwards;
}

@keyframes pixelate {
  0% {
    filter: none;
  }

  50% {
    filter: contrast(0.5) brightness(1.5) saturate(1.5);
    transform: scale(1.05);
  }

  100% {
    filter: contrast(0.5) brightness(1.5) saturate(1.5) blur(3px);
  }
}

.profile-container.glitch .profile-pic {
  animation: color-glitch 1s infinite;
}

@keyframes color-glitch {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(180deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.skills-container {
  display: flex;
  flex-direction: column;
  width: 98svw;
  margin-top: 10svh;
  margin-bottom: 18svh;
  padding-left: 1svw;
  padding-right: 1svw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.skills-container .heading {
  font-size: 2.8rem;
  text-align: center;
  color: var(--light);
}

.skills-container .skill {
  display: flex;
  padding-left: 3svw;
  padding-right: 3svw;
}

.skill .name {
  font-size: 1.2rem;
  font-family: besake;
  color: var(--light);
  margin-top: auto;
  margin-bottom: auto;
}

.skill .level-container {
  margin: auto;
  width: var(--level-container-width);
  height: var(--level-container-height);
  background: #121212;
}

.level-container .level {
  position: relative;
  width: 1px;
  height: var(--level-container-height);
  border-radius: 5svw;
  background-color: var(--secondary);
}

.skill label {
  margin: auto;
  font-size: 1.3rem;
  font-family: besake;
  font-weight: 200;
  color: var(--light-20);
}

/*showcase*/
.showcase {
  display: flex;
  flex-direction: column;
  width: 98svw;
  height: 70svh;
}

.showcase .project {
  color: var(--light);
  display: flex;
  width: 98svw;
  height: 70svh;
  padding-right: 1svw;
  padding-left: 1svw;
}

.project img {
  width: 30svw;
  padding-right: 2svw;
  border-bottom-right-radius: 24svw;
}

.project p {
  font-size: 2.1rem;
  font-family: besake;
}

/* footer css */
.footer {
  background-color: var(--light-10);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.container {
  width: 90%;
  margin: 0 auto;
}

#movableButton {
  width: 12vw;
  height: 12vw;
  border-radius: 50%;
  position: fixed;
  color: var(--light-10);
  border: solid var(--light) 1.5pt;
  cursor: pointer;
  user-select: none;
  touch-action: none;
  transition: left 0.1s, top 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}

#movableButton img {
  height: 60%;
  width: auto;
  max-height: 100%;
}
