<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
   <button id="toggleNoteApp" class="toggle-btn">Toggle Notes</button>
    
    <div id="noteApp" class="note-app hidden">
        <button id="darkModeToggle">🌓</button>
        <h1>Quick Notes</h1>
        <textarea id="noteInput" placeholder="Enter your note here..."></textarea>
        <div id="notesContainer" class="notes-container"></div>
        <button id="saveNoteBtn">Save Note</button>
    </div>

    <div id="SavedNotePopView" class="SavedNotePopView hidden">
        <button class="close-btn">&times;</button>
        <h2>Note Details</h2>
        <div id="SavedNoteContent"></div>
        <button id="editNoteBtn" class="edit-btn">Edit</button>
        <button id="deleteNoteBtn" class="delete-btn">Delete</button>
    </div>

    <div id="overlay" class="overlay hidden"></div>
    <script src="./main.js"></script>
</body>
</html>
